body{
    background-color: rgb(3, 3, 3);
}

header{
    background-color: rgb(220, 191, 0);
}

header li{
    color: rgb(45, 43, 43);
    text-decoration: none;
}
p{
    background-color: rgb(220, 191, 0);
    color: rgb(45, 43, 43);
}
